<div>
    <h2 id="page-heading">
        <span jhiTranslate="easyOrderApp.extraInLine.home.title">Extra In Lines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extra-in-line" [routerLink]="['/extra-in-line/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="easyOrderApp.extraInLine.home.createLabel">
            Create new Extra In Line
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="extraInLines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="extraId"><span jhiTranslate="easyOrderApp.extraInLine.extra">Extra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productByOrderId"><span jhiTranslate="easyOrderApp.extraInLine.productByOrder">Product By Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extraInLine of extraInLines ;trackBy: trackId">
                <td><a [routerLink]="['/extra-in-line', extraInLine.id, 'view' ]">{{extraInLine.id}}</a></td>
                <td>
                    <div *ngIf="extraInLine.extraId">
                        <a [routerLink]="['../extra', extraInLine.extraId , 'view' ]" >{{extraInLine.extraId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extraInLine.productByOrderId">
                        <a [routerLink]="['../product-by-order', extraInLine.productByOrderId , 'view' ]" >{{extraInLine.productByOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/extra-in-line', extraInLine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extra-in-line', extraInLine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'extra-in-line', { outlets: { popup: extraInLine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="extraInLines && extraInLines.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
