<div id="top"></div>
<!-- Start Header Area -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark p-3">
    <a class="navbar-brand pl-5" href="#inicio">
        <img src="../../../assets/img/logos/EasyOrderG.png" class="mr-3 brand-logo" alt="logo">
        Easy Order
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto pr-5">
            <li class="nav-item active">
                <a class="nav-link" href="#inicio">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">CARACTERISTICAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">EASYORDER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">NOSOTROS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contect">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area" id="inicio">
    <div class="banner-content text-center pt-max position-relative">
        <h1 class="text-white">Easy Order</h1>
        <h2 class="white">Costa Rica</h2>
        <a routerLink="register" class="primary-btn banner-btn">Registrarse</a>
        <a (click)="login()" class="primary-btn active hover banner-btn">Iniciar Sesión</a>
        <br>
        <i class="fa fa-chevron-down white mt-5 arrow bounce" aria-hidden="true"></i>
    </div>
</section>
<!-- End Banner Area -->

<!-- Features Area -->
<section class="about py-10" id="features">
    <div class="container">
        <h3 class="text-center black headline">Características</h3>
        <div class="row">
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="ft-shopping-cart litle-icon mr-2 font-md" aria-hidden="true"></i> Ordenar</h4>
                <p class="mt-2">Todo lo que puedas imaginar al alcance de un click.</p>
            </div>
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="fa fa-money litle-icon mr-2 font-md" aria-hidden="true"></i> Precios</h4>
                <p class="mt-2">Precios accesibles y descuentos en tus comidas favoritas.</p>
            </div>
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="ft-trending-up litle-icon mr-2 font-md" aria-hidden="true"></i> Facilidad</h4>
                <p class="mt-2">Pedidos rápidos y sabrosos, que llegarán directo a tu mesa.</p>
            </div>
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="ft-shuffle litle-icon mr-2 font-md" aria-hidden="true"></i> Dividir cuentas</h4>
                <p class="mt-2">Facilidad de dividir tú cuenta entre tus amigos.</p>
            </div>
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="ft-download-cloud litle-icon mr-2 font-md" aria-hidden="true"></i> La nube</h4>
                <p class="mt-2">Servicio con disponibilidad las 24 horas del día, los 7 días de la semana.</p>
            </div>
            <div class="col-md-4 col-12 mt-5 pl-sm">
                <h4>
                    <i class="ft-plus litle-icon mr-2 font-md" aria-hidden="true"></i> Sobresaliente</h4>
                <p class="mt-2">Una aplicación inigualable en el mercado costarricense.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->
<!-- About Area-->
<section class="everything" id="about">
    <div class="row">
        <div class="col-lg-6 col-12 p-0 ">
            <div class="everything"></div>
        </div>
        <div class="col-lg-6 col-12 bg-grey white p-5 py-10">
            <h2 class="white">¿Qué es Easy Order?</h2>
            <div class="row">
                <div class="col-12 mt-7">
                    <p class="muted mb-0">Easy Order es una aplicación que busca revolucionar la manera en la
                        que se ordena en un restaurante, esto se logra mediante una aplicación móvil instalada
                        en las tablets con sistema operativo android, en los restaurantes que permite a los
                        usuarios realizar sus pedidos de la manera más sencilla y rápida. Por otra parte
                        también facilita el trabajo de administración del restaurante  mediante una aplicación
                        web que permite modificar todos los parámetros vitales para la aplicación móvil como
                        productos, extras, descuentos, órdenes y mucho más.
                    </p>
                    <br>
                    <br>
                    <a routerLink="register" class="primary-btn active banner-btn mt-4 bg-white-text">Empezar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<!-- Pricing Table Area -->
<section class="pricing gray-bg py-10" id="pricing">
    <div class="container pb-5 pt-4">
        <h3 class="text-center black mb-4 pb-4 headline">Nosotros</h3>
        <p class="text-center black mt-4 pt-4">Somos una empresa que nace de la necesidad de
            brindar un servicio de pedidos en restaurantes que facilite la atención y la toma
            de pedidos de todos los usuarios. Contamos con una interfaz simple y fácil de
            usar, evitando complicaciones y centrándonos en lo más importante para nuestros
            clientes dándole una experiencia de usuario agradable.
        </p>
    </div>
</section>
<!-- End Pricing Table Area -->

<!-- Parallax Area -->
<section class="parallax">
    <div class="parallax text-center pt-10">
        <h1 class="mb-4 bg-white-text bg-gray-text-shadow">Easy Order</h1>
        <h3 class="bg-white-text bg-gray-text-shadow">Incrementa tus ganancias, fácil y rápido</h3>
    </div>
</section>
<!-- End Parallax Area -->

<!-- Contact Us Area -->
<section class="contect py-10" id="contect">
    <div class="container">
        <h3 class="text-center black mb-4 headline">Póngase en contacto</h3>
        <div class="row mt-5 p-sm">
            <div class="col-lg-6 mt-3">
                <p>Contáctenos, llene el formulario y lo contactaremos tan pronto como sea posible. Estámos para servirle
                    y llevar su negocio al siguiente nivel.</p>
                <p>
                    <i class="fa fa-map-marker litle-icon" aria-hidden="true"></i>
                    Ubicación
                    <br>calle 203, Cenfotec
                    <br> San José, Montes de Oca
                </p>
                <p>
                    <i class="fa fa-phone litle-icon" aria-hidden="true"></i>
                    Teléfonos
                    <br> +506 70117076
                    <br> +506 85829827
                </p>
                <p>
                    <i class="fa fa-globe litle-icon" aria-hidden="true"></i>
                    Correo
                    <br> easyordercr@gmail.com
            </div>
            <div class="col-lg-6">
                <div class="form-area">
                    <form>
                        <br style="clear:both">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Correo" disabled>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" disabled>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" placeholder="Mensaje" maxlength="140" rows="7" disabled></textarea>
                        </div>
                        <button type="button" class="btn banner-btn btn-pricing mb-5" disabled>Proximamente</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Us Area -->

<!-- Footer Area -->
<footer class="p-0">
    <section class="footer" id="footer">
        <div class="bg-black p-5 text-center">
            <h2 class="white">
                <img src="../../../assets/img/logos/EasyOrderG.png" class="mr-3 brand-logo" alt="logo">
                Easy Order
            </h2>
            <h5 >
                <span style="font-size: 14px; font-weight:100;" class="muted mr-2">Moonshine Code ©</span>
            </h5>
        </div>
    </section>
</footer>
<!-- End footer Area -->
