<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-discount-heading" jhiTranslate="easyOrderApp.discount.home.createOrEditLabel">Create or edit a Discount</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!discount.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="discount.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="discount.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.percentage" for="field_percentage">Percentage</label>
                    <input type="number" class="form-control" name="percentage" id="field_percentage"
                        [(ngModel)]="discount.percentage" required/>
                    <div [hidden]="!(editForm.controls.percentage?.dirty && editForm.controls.percentage?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.percentage?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.percentage?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.starDate" for="field_starDate">Star Date</label>
                    <div class="d-flex">
                        <input id="field_starDate" type="datetime-local" class="form-control" name="starDate" [(ngModel)]="starDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.starDate?.dirty && editForm.controls.starDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.starDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.starDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="endDate" placeholder="YYYY-MM-DD HH:mm"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.endDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.startHour" for="field_startHour">Start Hour</label>
                    <div class="d-flex">
                        <input id="field_startHour" type="datetime-local" class="form-control" name="startHour" [(ngModel)]="startHour" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.endHour" for="field_endHour">End Hour</label>
                    <div class="d-flex">
                        <input id="field_endHour" type="datetime-local" class="form-control" name="endHour" [(ngModel)]="endHour" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="discount.status" />
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="easyOrderApp.discount.days" for="field_days">Days</label>
                    <select class="form-control" id="field_days" multiple name="days" [(ngModel)]="discount.days">
                        <option [ngValue]="getSelected(discount.days, listOfValueOption)" *ngFor="let listOfValueOption of listofvalues; trackBy: trackListOfValueById">{{listOfValueOption.description}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="easyOrderApp.discount.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="discount.clientId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
