<div>
    <h2 id="page-heading">
        <span jhiTranslate="easyOrderApp.discount.home.title">Discounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-discount" [routerLink]="['/discount/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="easyOrderApp.discount.home.createLabel">
            Create new Discount
            </span>
        </button>
    </h2>

    <br/>
    <div class="table-responsive" *ngIf="discounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="easyOrderApp.discount.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percentage"><span jhiTranslate="easyOrderApp.discount.percentage">Percentage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="starDate"><span jhiTranslate="easyOrderApp.discount.starDate">Star Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="easyOrderApp.discount.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startHour"><span jhiTranslate="easyOrderApp.discount.startHour">Start Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endHour"><span jhiTranslate="easyOrderApp.discount.endHour">End Hour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="easyOrderApp.discount.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clientId"><span jhiTranslate="easyOrderApp.discount.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let discount of discounts ;trackBy: trackId">
                <td><a [routerLink]="['/discount', discount.id, 'view' ]">{{discount.id}}</a></td>
                <td>{{discount.name}}</td>
                <td>{{discount.percentage}}</td>
                <td>{{discount.starDate | date:'medium'}}</td>
                <td>{{discount.endDate | date:'medium'}}</td>
                <td>{{discount.startHour | date:'medium'}}</td>
                <td>{{discount.endHour | date:'medium'}}</td>
                <td>{{discount.status}}</td>
                <td>
                    <div *ngIf="discount.clientId">
                        <a [routerLink]="['../client', discount.clientId , 'view' ]" >{{discount.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/discount', discount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/discount', discount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'discount', { outlets: { popup: discount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="discounts && discounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
