.box {
    text-align: center;
    position: relative;
}

.box div {
    width: 250px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: #8bc34a;
    font-size: 280%;
    position: absolute;
    top: 386px;
    left: 40%;
    text-transform: capitalize;
    animation: moving 7s linear infinite;
    -webkit-animation: moving 7s linear infinite;
    -moz-animation: moving 7s linear infinite;
    -o-animation: moving 7s linear infinite;

    transform-origin: 50% -400%;
    -webkittransform-origin: 50% -400%;
    -moz-transform-origin: 50% -400%;
    -o-transform-origin: 50% -400%;
}

.box div:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #a9a9a9;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 45%;
    top: -350px;
}

.box div:after {
    content: '';
    width: 3px;
    height: 335px;
    background-color: #a9a9a9;
    display: block;
    position: absolute;
    left: 50%;
    top: -330px;
}

.box p {
    position: absolute;
    top: 630px;
    left: 38%;
    font-weight: 700;
    color: #606060;
    width: 306px;
}

.box p span {
    display: block;
    font-size: 300%;
    text-transform: uppercase;
}

@keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes moving {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
}
