<div>
    <h2 id="page-heading">
        <span jhiTranslate="easyOrderApp.productByOrder.home.title">Product By Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-by-order" [routerLink]="['/product-by-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="easyOrderApp.productByOrder.home.createLabel">
            Create new Product By Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productByOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="easyOrderApp.productByOrder.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comment"><span jhiTranslate="easyOrderApp.productByOrder.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="easyOrderApp.productByOrder.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderOkId"><span jhiTranslate="easyOrderApp.productByOrder.orderOk">Order Ok</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productsName"><span jhiTranslate="easyOrderApp.productByOrder.products">Products</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productByOrder of productByOrders ;trackBy: trackId">
                <td><a [routerLink]="['/product-by-order', productByOrder.id, 'view' ]">{{productByOrder.id}}</a></td>
                <td>{{productByOrder.quantity}}</td>
                <td>{{productByOrder.comment}}</td>
                <td>{{productByOrder.status}}</td>
                <td>
                    <div *ngIf="productByOrder.orderOkId">
                        <a [routerLink]="['../order-ok', productByOrder.orderOkId , 'view' ]" >{{productByOrder.orderOkId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productByOrder.productsId">
                        <a [routerLink]="['../product', productByOrder.productsId , 'view' ]" >{{productByOrder.productsName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-by-order', productByOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-by-order', productByOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-by-order', { outlets: { popup: productByOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productByOrders && productByOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
